@import url('https://fonts.googleapis.com/css2?family=Griffy&family=Montserrat:ital@1&family=Poppins:ital,wght@0,300;0,600;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Maven+Pro:wght@400;600&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
   
}

body {
    background-image: url(images/background1.jpg);
    background-repeat: none;

}


.header-container {
    width: 640px;
    margin: auto;
    margin-top: 10em;
    text-align: center;

    



    /* width: 50em;
    height: 40em;
    margin-left: 40em;
    margin-right: auto;
    margin-top: 100px;
    background: red; */
}

.header-text {
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    font-size: 15vh;
    display: inline-block;
    color: white;
    
    
}



.fa-heart{
    color: red;
    text-transform: uppercase;
    background-image: linear-gradient(
        45deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-emphasis-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;


}

@keyframes textclip {
    to {
      background-position: 200% center;
    }
  }



.image-container {
    position: relative;
    margin-top: 60em;
    width: 100%;
    height: 200em;
    align-items: center;
    margin-left: 20px;

}


.next-button {
    margin: 30px;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    text-align: center;
    font-family: 'Dancing Script', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vh;
}

.next-button a {
    display: inline-block;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
    transform: scale(1);
    border: 3px solid hsla(67, 95%, 95%, 1);
    background: hsla(67, 95%, 95%, 1);
    padding: 6px;
    border-radius: 20px;
}

.next-button .fa-arrow-right {
    display: inline-block;
    font-size: 20px;
}


.next-button a:hover {
    transform: translateX(10px);
    
}

/* -----------------END OF INDEX.HTML------------------ */

/* ---------------START OF IMAGES--------------- */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    transition: all 0.3s ease;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    border-radius: 10px;
    border: 3px solid hsla(67, 95%, 95%, 1);
}

.column img:hover {
    animation-name: bounce;
    animation-timing-function: ease;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-25px);
    } 100% {
        transform: translateY(0px);
    }
}


@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

.memories {
    width: 600px;
    color: black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Dancing Script', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 64px;
    padding: 25px;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border:dashed 4px hsla(0, 95%, 35%, 1);
    background: hsla(67, 95%, 95%, 1);

    margin-top: 50px;
    margin-bottom: 50px;
}


#Btn {
    font-family: 'Dancing Script', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vh;
    padding: 6px;
    bottom: 20px;
    right: 30px;
    cursor: pointer;
    position: fixed;
    z-index: 99;
    border: none;
    color: black;
    outline: none;
    display: none;
    border-radius: 20px;
    border: 3px solid hsla(67, 95%, 95%, 1);
    background: hsla(67, 95%, 95%, 1);
    transition: all 0.3s ease;
}

#Btn:hover {
    transform: scale(1.1);
}


.index-button {
    margin: 30px;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    text-align: center;
    font-family: 'Dancing Script', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vh;
}

.index-button a {
    display: inline-block;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
    transform: scale(1);
    border: 3px solid hsla(67, 95%, 95%, 1);
    background: hsla(67, 95%, 95%, 1);
    padding: 6px;
    border-radius: 20px;
}

.index-button .fa-arrow-right {
    display: inline-block;
    font-size: 20px;
}


.index-button a:hover {
    transform: translateX(-10px);
    
}


.letters-button {
    margin: 30px;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    text-align: center;
    font-family: 'Dancing Script', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vh;
}

.letters-button a {
    display: inline-block;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
    transform: scale(1);
    border: 3px solid hsla(67, 95%, 95%, 1);
    background: hsla(67, 95%, 95%, 1);
    padding: 6px;
    border-radius: 20px;
}

.letters-button .fa-arrow-right {
    display: inline-block;
    font-size: 20px;
}


.letters-button a:hover {
    transform: translateX(10px);
    
}



/* ----------------END OF IMAGES------------------- */

/* -------------------LETTER------------------------ */

.letter-container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 7rem;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border:dashed 4px hsla(0, 95%, 35%, 1);
    background: hsla(67, 95%, 95%, 1);
    font-size: 5vh;
    line-height: 2em;
    font-family: 'Dancing Script', Verdana, Geneva, Tahoma, sans-serif;
}

.letter2-container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 7rem;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border:dashed 4px hsla(0, 95%, 35%, 1);
    background: hsla(67, 95%, 95%, 1);
    font-size: 5vh;
    line-height: 2em;
    font-family: 'Dancing Script', Verdana, Geneva, Tahoma, sans-serif;
}